@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');
.container-fluid{
font-family: 'Source Sans 3', ;

}


.jumbotron{
text-align: center;
background: url("images/1_img.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.card{
border-color: white;
  text-align: center;
}


.services{
  background-image: url("images/2_image.jpg");
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;

}
.form{
background-image: url("images/3_image.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: white;


}
.form textarea{
background-color: transparent;
border-color: white;
}
#emailbox{
float: right;
width: 185px;
background-color: transparent;
border-color: white;
}

#namebox{
float: left;
width: 185px;
background-color: transparent;
border-color: white;
}
::placeholder{
  color: black;
}
.one{
  display: none;
}
.two{
  display: none;
}
.three{
  display: none;
}
#content11{
  text-align: center;
  font-weight: bold;

}
.card{
  margin-bottom: 40px;
}
.space{
  border:solid 10px white; 

}
.hove{
  display: none;
  position: absolute;
  top: 100px;
  left: 70px;
  font-weight: bolder;
}
.house{
  position: absolute;
  margin: 1%;
}
