@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');
.container-fluid{
font-family: 'Source Sans 3', ;

}

/* 
.jumbotron{
text-align: center;
background: url("/images/img1.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

} */
.card{
border-color: white;
  text-align: center;
}

/* .form textarea{
background-color: transparent;
border-color: white;
}
#emailbox{
float: right;
width: 185px;
background-color: transparent;
border-color: white;
}

#namebox{
float: left;
width: 185px;
background-color: transparent;
border-color: white;
}
::placeholder{
  color: black;
} */
.one{
  display: none;
}
.two{
  display: none;
}
.three{
  display: none;
}
#content11{
  text-align: center;
  font-weight: bold;

}
.card{
  margin-bottom: 40px;
}
.space1{
  border:solid 15px white; 
  opacity: 1;
  margin: 90px;
}
.space2{
  border:solid 15px white; 
  opacity: 1;
 margin: 90px;
}
.space3{
  border:solid 15px white; 
  opacity: 1;
 margin: 90px;
}

.space4{
  border:solid 5px white; 
  opacity: 1;
 margin: 100px 40px 90px 150px;

}

.space5{
  border:solid 15px white; 
  opacity: 1;
 margin: 90px;
}

.space6{
  border:solid 15px white; 
  opacity: 1;
  margin: 90px;
}
.space7{
  border:solid 15px white; 
  opacity: 1;
  margin:90px;
}
.space8{
  border:solid 15px white; 
  opacity: 1;
  margin: 90px;
}

.hove1{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove2{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove3{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove4{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove5{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove6{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove7{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}

.hove8{
  position: absolute;
  top: 200px;
  left: 200px;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, .4);
  height: 4rem;
  width: 8rem;
  display: none;
}








