@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,300&display=swap');

.container-fluid{
font-family: 'Source Sans 3', sans-serif;

}


.jumbotron{
text-align: center;
background: url("/images/background/1_img.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.card{
border-color: white;
  text-align: center;
  /* background-image: url("/images/background/2_image.jpg"); */
}
.services{
  background-image: url("/images/background/2_image.jpg");
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: ;
}
.grid{


}